
.work-sans {
  font-family: "open Sans", sans-serif;
  font-optical-sizing: auto; 
  font-style: normal;
}

/* shared style  */
.primary-color{
    color:#FD6E0A
}
.dark-2{
    color: #474747;
}

.primary-btn{
    background-color: #FD6E0A;
    color:wheat;
    font-weight: bold;
    padding: 18px 37px;
    border-radius:5px;
    font-size: 20px;
}

.bg {
    background-color: #FFF8F3;
}



.header{
    background-image: url('/images/developer.png'), url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}
/* nav style  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
  
}
nav ul li{
    list-style: none;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner style  */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 560px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-img{
    width: 580px;
}

/* .main section about  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    border-radius: 40px;
    padding: 150px 130px;
    text-align: center;
    margin-top: 130px;
}
.section-title{
    font-size: 10px;
    font-weight: bold;
    color: #474747;
}
.section-description{
    font-size: 18px;
    color: #474747;
}

 /* About section  */

 .item-title{
    font-size: 18px;
    color: #474747;
 }
 .about-items{
    display: flex;
    justify-content: space-around;
 }

 .item-description{
    color: #181818;
    font-weight: bold;
 }

  /* work section  */
   
 .work-title{
    text-align: center;
    font-size: 45px;
    font-weight: 800;
 }   
.work-description{
    text-align: center;

}

 /* skill section  */

 .skills{
    display: flex;  
    gap: 10px;
    
 }
 .skill{ 
    box-shadow: 10px 10px 30px rgb(238, 236, 236);   
    padding: 40px;
    border-radius: 5px;
 }